{% trans_default_domain 'FOSUserBundle' %}
{% block title %}
    <h1 class="text-center">Change Password</h1></br> {% endblock %}
<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
    <label for="current_password">{{ 'current_password'|trans }}</label>
    {{ form_errors(form.current_password) }}
    {{ form_widget(form.current_password, { 'attr': {'class': 'form-control'} }) }}
    </br>
    <label for="plainPassword.first">{{ 'new password'|trans }}</label>
    {{ form_errors(form.plainPassword.first) }}
    {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control'} }) }}
    </br>
    <label for="plainPassword.second">{{ 'confirmation'|trans }}</label>
    {{ form_errors(form.plainPassword.second) }}
    {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control'} }) }}
     </br>
    
    {{ form_rest(form) }}
    <div>
        <input type="submit" class="btn btn-info center-block" value="{{ 'change_password.submit'|trans }}" />
    </div>
</form>
